@use "../sass/Variables.scss" as vars;

.modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.7);
    
    &__msg {
        padding: 20px;
        background-color: vars.$color-white;
        border-radius: 15px;
        position: absolute;
        width: 250px;
        height: 200px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    &__warning {
        font-size: 30px;
    }

    p {
        color: vars.$color-bg;

        a {
            color: vars.$color-primary;
            text-decoration: underline;
        }
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 15px;
        color: vars.$color-bg;
        cursor: pointer;
        font-size: 20px;
    }


}