@use "./sass/Variables.scss" as variables;

body, html {
  height: 100%;
}

body {
  background-color: variables.$color-bg;
  font-family: variables.$font-body;
  font-weight: 600;
  color: variables.$color-body;
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
}

.app {
  max-width: 900px;
  margin: 0 auto;
}

h1,h2,h3,h4 {
  font-family: variables.$font-headings;
  font-weight: 800;
  color: variables.$color-primary;
} 

.mb-2 {
  margin-bottom: 2rem;
}

.loading {
  font-style: italic;
}

.divider {
  height: 2px;
  width: 75%;
  margin: 0 auto;
  background-color: rgba(variables.$color-bg-light, .7);
  margin-bottom: 2rem;
}
